# [파이썬에서 사용하는 방법]

In [8]:
import sqlite3

1. DB에 접속(SQLite에서 new database를 생성한다. test.db)
2. 테이블하고 내가 작업할 영역을 선택한다.
3. mysql에 접속하기 위해 ip address와 hostname port번호 username password 같은 것이 필요하다.

# <span style='color:teal'>1. 데이터베이스 접속</span>

In [9]:
conn = sqlite3.connect('./test.db')    # 1. DB에 접속
#conn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)
# 메모리에 올리면서 서버에서 데이터를 가져와서 메모리에 작업하고 
#다 하고 메모리에 있는것을 서버로 올리는 것

# <span style='color:teal'>2. 테이블 생성</span>

In [10]:
cur = conn.cursor() # 2. 테이블하고 내가 작업할 영역을 선택한다. connection을 만들고 cursor
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

# <span style='color:teal'>3. 데이터 삽입</span>

In [11]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

IntegrityError: UNIQUE constraint failed: Eagles.back_no

# <span style='color:teal'>4. 변경사항 저장</span>

In [5]:
conn.commit()

# <span style='color:teal'>5. 데이터 삽입(파일에서 읽어서 데이터베이스에 쓰기)</span>

In [6]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

   back_no name position hands highschool  height
0       17  김범수       투수  좌투좌타      천안북일고     181
1       38  안영명       투수  우투우타      천안북일고     183
2       36  장민재       투수  우투우타      광주제일고     184
3       13  최재훈       포수  우투우타        덕수고     178
4       52  김태균      내야수  우투우타      천안북일고     185
5        7  송광민      내야수  우투우타        공주고     184
6       50  이성열      내야수  우투좌타       순천효고     185
7       43  정은원      내야수  우투좌타        인천고     177
8        8  정근우      외야수  우투우타        부산고     172
9       30   호잉      외야수  우투좌타        외국고     190

In [7]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
# 밑에 sql의 자리에 그대로 넣어도 되지만 보통은 이렇게 따로 만들어서 해놓는다.
# 프로그램에서 물음표 값을 채워넣는다.

for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

# <span style='color:teal'>6-1. 데이터 조회</span>
- SELECT field1, f2, ..., fn [또는 \*] FROM table  
  WHERE 조건

In [12]:
# 순회 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')

for row in cur:
    print(row)
# cur안의 데이터를 row로 하나씩 print
# tuple로 읽혀진다.
# 데이터를 가져와서 데이터 프레임으로 집어 넣던지 할 줄 알아야한다.

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(30, '호잉', '외야수', '우투좌타', '외국고', 190)

In [13]:
# 단건 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')

row = cur.fetchone() # 1건만 가져온다.
print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)

In [14]:
# 다건 조회
# reset을 시키지 않았기 떄문데단건에서 가져왔던 하나를 빼고 그다음2개를 가져온다.
rows = cur.fetchmany(2) 
for row in rows:
    print(row)

(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)

In [15]:
# 모두 조회
rows = cur.fetchall()
for row in rows:
    print(row)

(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(30, '호잉', '외야수', '우투좌타', '외국고', 190)

# <span style='color:teal'>6-2. 조건을 줘서 조회하기</span>

In [16]:
# 필요한 column만 조회, 조회 조건도 추가
cur = conn.cursor()
cur.execute('SELECT name FROM Eagles WHERE back_no > 30') # SELECT옆에 name
rows = cur.fetchall();

for row in rows:
    print(row,)
    
print()

# 조회 조건
cur = conn.cursor()
cur.execute("SELECT * FROM Eagles WHERE position like '내야수'") 
# 정수에 대해서는 =가 두개가 아닌 한개, 문자열은 like로 쓴다.
rows = cur.fetchall();

for row in rows:
    print(row)

('장민재',)
('안영명',)
('정은원',)
('이성열',)
('김태균',)

(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)

In [21]:
# 원하는 순서 및 갯수
cur = conn.cursor()
cur.execute("SELECT * FROM Eagles ORDER BY height DESC LIMIT 5")
rows = cur.fetchall();
for row in rows:
    print(row)

(30, '호잉', '외야수', '우투좌타', '외국고', 190)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(50, '이성열', '내야수', '우투좌타', '순천효고', 185)
(1, '하주석', '내야수', '우투좌타', '신일고', 184)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)

- SELECT field FROM tabel
- WHERE field o arg
- ORDER BY field [DESC]
- GROUP BY field
- LIMIT 순차

In [22]:
# 집계 함수
cur.execute("SELECT count(*) FROM Eagles")
count = cur.fetchone()
print(count)

(12,)

In [23]:
# 그룹핑, 집계 함수
cur = conn.cursor()
cur.execute("SELECT count(*), avg(height) FROM Eagles GROUP BY position")
rows = cur.fetchall();
for row in rows:
    print(row)

(5, 183.0)
(3, 179.66666666666666)
(3, 182.66666666666666)
(1, 178.0)

In [27]:
#Placeholder를 사용해서 데이터 검색
cur = conn.cursor()
back_no=50
cur.execute("SELECT * FROM Eagles WHERE back_no=?;",(back_no,))
player = cur.fetchone()
print(player)

(50, '이성열', '내야수', '우투좌타', '순천효고', 185)

# <span style='color:teal'>7. 데이터 변경</span>
- UPDATE table SET field1 = value1, ... WHERE 조건;

In [29]:
cur = conn.cursor()
cur.execute("UPDATE Eagles SET hands='우투좌타',highschool='미쿡고',height=190 WHERE back_no=30;")
conn.commit() # 변경된 데이터 삽입

None

# <span style='color:teal'>8. 데이터 삭제</span>
- DELETE FROM table WHERE 조건;

In [31]:
cur = conn.cursor()
cur.execute("DELETE FROM Eagles WHERE back_no=1;")
conn.commit()

# <span style='color:teal'>테이블 삭제</span>

In [77]:
cur = conn.cursor()
cur.execute('DROP TABLE Eagles')

OperationalError: database is locked

# <span style='color:teal'>연결 닫기</span>

In [69]:
conn.close()