In [114]:
import sqlite3

In [115]:
conn = sqlite3.connect('./test.db') 
conn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)

- **테이블 생성**

In [116]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

- **데이터 삽입**

In [117]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

- 변경사항 저장

In [118]:
conn.commit()

- 파일에서 읽어서 데이터베이스에 쓰기

In [119]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

   back_no   name position   hands highschool  height
0       17  '김범수'     '투수'  '좌투좌타'    '천안북일고'     181
1       38  '안영명'     '투수'  '우투우타'    '천안북일고'     183
2       36  '장민재'     '투수'  '우투우타'    '광주제일고'     184
3       13  '최재훈'     '포수'  '우투우타'      '덕수고'     178
4       52  '김태균'    '내야수'  '우투우타'    '천안북일고'     185
5        7  '송광민'    '내야수'  '우투우타'      '공주고'     184
6       50  '이성열'    '내야수'  '우투좌타'     '순천효고'     185
7       43  '정은원'    '내야수'  '우투좌타'      '인천고'     177
8        8  '정근우'    '외야수'  '우투우타'      '부산고'     172
9       30   '호잉'    '외야수'  '우투좌타'      '외국고'     190

In [120]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                      players.iloc[i,1], players.iloc[i,2], 
                      players.iloc[i,3], players.iloc[i,4], 
                      int(players.iloc[i,5])))
conn.commit()

In [113]:
conn.close()